.App {
  text-align: center;
}
ul {
  list-style-type: none;
}
.userList {
  display: inline-block;
  margin: 10px;
  border: 1px solid #ccc;
  width: 140px;
  text-align: center;
  padding: 4px;
  border-radius: 7px;
}
input[type="search"] {
  max-width: 300px;
  width: 100%;
  height: 40px;
  border-radius: 13px;
  border: 1px solid #a7a7a7;
  padding: 0 10px;
  font-size: 15px;
  letter-spacing: 1px;
  outline: none;
}
.heading {
  color: #429aa9;
  letter-spacing: 1px;
  text-transform: uppercase;
}
